@import url(./reset.css);

@font-face {
    font-family: 'Lovelace';
    font-style: normal;
    font-weight: 400;
    src: local('Lovelace'),
        url(./fonts/Lovelace-Bold.woff) format("woff"),
        url(./fonts/Lovelace-Bold.woff2) format("woff2");
}

body {
    background-color: #d7d0d1;
    overflow: hidden;
}

.header-section {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: #64595b 1px solid;
}

.header-heading {
    font-family: 'Lovelace';
    font-size: 36px;
    color: #64595b;
}

.second-heading {
    font-family: 'Lovelace';
    font-size: 24px;
    color: #000000;
}

.paragraf {
    font-family: 'Lovelace';
    font-size: 18px;
    color: #3a3435;
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle-side-section {
    width: 100px;
    height: 84vh;
    border-left: #64595b 1px solid;
    border-right: #64595b 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lovelace';
    font-size: 24px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lovelace';
    font-size: 24px;
}

.footer-section {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: #64595b 1px solid;
}

.button-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upside-arrow-button {
    color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #d7d0d1;
}



.downside-arrow-button {
    color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #d7d0d1;
}

.upside-arrow-button:focus,
.upside-arrow-button:hover>.upside-arrow {
    stroke: #000000;
}

.downside-arrow-button:focus,
.downside-arrow-button:hover>.downside-arrow {
    stroke: #000000;
}

.left-side-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.left-side-container {
    width: 450px;
    height: 450px;
    border-radius: 24px;
    overflow: hidden;
}

.right-side-container {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

img {
    width: auto;
    height: auto;
}

.right-side-section {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.slide-in-elliptic-top-fwd {
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-top {
    -webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-7 22:31:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-7 22:33:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

.text-focus-in {
    -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-7 21:43:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}